

body{
    background-color: #f0f2f5;
    font-family: Helvetica, sans-serif;
    font-size: 1.125 rem;
}
.divId{
    width: 430px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: left;
}
.signIn{
    margin-top: 50px;
    margin-bottom: 40px;
    color: #3c4a5a;
    font-size: 1.5rem;
    font-weight: lighter;
}
.input{
    margin-top: -10px;
    width: 400px;
    height: 45px;
    padding: 10px;
    border: 1.8px solid lightgray;
    border-radius: 4px;
}

.input:hover{
    border-color: rgb(67,122,124);
}
::placeholder{
    margin-left: 15px;
    color: #c6c6c6;
    font-size: 1rem;
}
.button{
    width: 400px;
    height: 47px;
    background-color: #1976D2;
    border-radius: 4px;
    border-color: #1976D2;
    color: white;
    cursor: pointer;
    box-shadow: none;
    border: none;
    margin-top: 30px;
}
